/* Hide Scrollbar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  overflow-y: scroll; /* Ensure vertical scrollbar doesn't appear on content overflow */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  color: #333;
  width: 100%;
  min-height: 100vh; /* Ensure body takes at least full viewport height */
}

/* Navbar */
.navbar {
  background-color: #5800ef;
  color: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.navbar-menu li {
  display: inline;
  margin-top: 13px;
}
.navbar-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
.navbar-menu a:hover {
  background: #000;
  border-radius: 5px;
}
.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px white;
}
.navbar-brand:hover {
  background-color: rgb(229, 255, 0);
  color: black;
  border-radius: 3px;
  padding: 2px 10px;
}
#tourButton {
  border-radius: 5px;
  font-size: 1em;
  color: #251d72;
  font-weight: 800;
  padding: 5px 10px;
}
#tourButton:hover {
  background-color: #ebf305;
  color: #333;
  font-weight: 900;
}

/* Hero Section */
.hero-section {
  background-color: #5800ef;
  color: white;
  text-align: center;
  padding: 50px 20px;
}
.hero-section h1 {
  margin: 0;
  font-size: 2.5em;
}
.hero-section p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Main Content */
.container {
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container h1 {
  margin-top: 40px;
  color: #040605;
  margin-bottom: 40px;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.controls label {
  font-weight: bold;
  margin-right: 5px;
  margin-top: 5px;
}
.controls input,
.controls select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1em;
  outline: none;
  margin-top: 10px;
  box-sizing: border-box;
}
.controls fieldset {
  margin-top: 20px;
}
.controls input[type="radio"] {
  margin-bottom: 10px;
}
.controls button {
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #251d72;
  color: white;
  cursor: pointer;
  font-size: 1em;
  margin-right: 6px;
  transition: background-color 0.3s;
  outline: none;
}
.controls button:hover {
  background-color: #f6fe03;
  color: #333;
  font-weight: 900;
}
#repositories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
}
.repository-card {
  width: 300px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  transform-style: preserve-3d;
}
.repository-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.repository-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.flip-card-front {
  background-color: #5800ef;
  color: white;
}
.flip-card-front h3 {
  margin: 0;
  font-size: 1em;
  margin-top: 12px;
}
.flip-card-front img {
  width: 90%;
  border-radius: 12px;
}
.flip-card-front p {
  margin: 10px 0 0;
  font-size: 1.2em;
}
.flip-card-front small {
  margin-top: 10px;
  display: block;
  font-size: 0.9em;
}
.flip-card-back {
  background-color: #f9f9f9;
  color: #5800ef;
  transform: rotateY(180deg);
  text-align: left;
}

/* Footer */
footer.footer {
  background-color: #5800ef;
  color: white;
  text-align: left;
  width: 100%;
  padding: 9px;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-left,
.footer-right {
  flex: 1;
}
.footer-right {
  text-align: right;
  margin-right: 30px;
}
.footer-left {
  text-align: left;
  margin-left: 20px;
}
.footer-left h3 {
  margin-top: 3px;
  margin-left: 67px;
}
.footer-right a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s;
}
.footer-right a:hover {
  color: #ddd;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }
  .controls input,
  .controls select,
  .controls button {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-right {
    text-align: center;
    margin-top: 10px;
    margin-right: 0;
  }
  .footer-left {
    margin-left: 0;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: center;
  }
  .navbar-menu li {
    margin-bottom: 10px;
  }
  .controls {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .footer-container {
    padding: 0 20px;
  }
  .hero-section {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 0.9rem;
  }
  .navbar-menu {
    flex-direction: column;
  }
  .controls {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .footer-container {
    padding: 0 10px;
  }
  .hero-section {
    padding: 20px;
  }
}


